<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title></title>
<style>
    #bgvid{
        position: fixed;
        right: 0;
        bottom: 0;
        top: -130px;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -9999;
        -webkit-filter: blur(8px);
    }
    </style>
</head>
<body>
<header id="fh5co-header" role="banner">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- Mobile Toggle Menu Button -->
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                <a class="navbar-brand" href="index.html">Gayest</a>
            </div>
            <div id="fh5co-navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="index.html"><span>首页 <span class="border"></span></span></a></li>
                    <li><a href="login.html"><span>交友<span class="border"></span></span></a></li>
                    <li><a href="news.html"><span>新闻<span class="border"></span></span></a></li>
                    <li><a href="elements.html"><span>爬梯 <span class="border"></span></span></a></li>
                    
                </ul>
            </div>
        </div>
    </nav>
</header>
<div style="padding-top: 50px">
<video autoplay loop="loop" id="bgvid">
    <source src="../../static/images/backgroundvideo.mp4" type="video/mp4">
    <source src="../../static/images/backgroundvideo.webm" type="video/webm"></video>
</div>
<div style="background-color: #292929;width: 60%;height: 50% ;padding-bottom: 8%;opacity: 0.5;margin:auto;z-index: -10;text-align: center;line-height: 20px" >
   <div style="width:100% ;height: 20%; padding-top: 80px">
       <p style="color: #ffffff;font-size: medium"><strong>官方网站</strong>：www.gayest.com(同志亦凡人信息技术公司)<p>
       <p style="color: #ffffff;font-size: medium"><strong>公司电话</strong>：010-15811362796<p>
       <p style="color: #ffffff;font-size: medium"><strong>客服QQ</strong>：1447309150<p>
       <p style="color: #ffffff;font-size: medium"><strong>反馈邮箱</strong>：<a style="color: #AD4337;font-size: large" href="#">gayest@163.com</a><p>
       <p style="color: #ffffff;font-size: medium"><strong>招商电话</strong>：010-2272717<p>
       <p style="color: #ffffff;font-size: medium"><strong>地址</strong>：<a style="color: #AD4337;font-size: large" href="#">中国传媒大学</a><p>
       <p style="color: #ffffff;font-size: medium"><strong>版权所有</strong>：Copyright2016中国传媒大学<p>
       </div>
    <div style="text-align: center;font-size: xx-large;z-index: auto;padding-top: 30%">Contact Us Welcome
        </div>
    
   </div>
</body>
</html>