
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>正文 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">
    <style>

    </style>
    <!-- Google Webfonts -->
    <link href='http://fonts.useso.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="../../static/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="../../static/css/icomoon.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="../../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../static/css/owl.theme.default.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="../../static/css/magnific-popup.css">
    <!-- Theme Style -->
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/style2.css">
    <link rel="stylesheet" href="../../static/css/style3.css">
    <link rel="stylesheet" href="../../static/css/set1.css">
    <!-- Modernizr JS -->
    <script src="../../static/js/modernizr-2.6.2.min.js"></script>

    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
    <script>
        $(function(){
           /* $("#login").click(function(){
                var newnode=document.createElement("li");
                var hhh=document.getElementById("spanlog");
                hhh.innerHTML="David的空间";
                var oldnode=document.getElementById("oldlog");
                newnode.innerHTML=oldnode.innerHTML;
                oldnode.parentNode.replaceChild(newnode,oldnode);
            })*/
			<!-- document.getElementById('news-image').src={{newsimage}}; -->
		var getParam = function(name){
        var search = document.location.search;
        var pattern = new RegExp("[?&]"+name+"\=([^&]+)", "g");
        var matcher = pattern.exec(search);
        var items = null;
        if(null != matcher){
                try{
                        items = decodeURIComponent(decodeURIComponent(matcher[1]));
                }catch(e){
                        try{
                                items = decodeURIComponent(matcher[1]);
                        }catch(e){
                                items = matcher[1];
                        }
                }
        }
        return items;
};
			
			cid=getParam('id');
			document.getElementById("newsid").value=cid;
			
        });
        $(document).ready(function(){

            // hide #back-top first
            $("#back-top").hide();

            // fade in #back-top
            $(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 100) {
                        $('#back-top').fadeIn();

                    } else {
                        $('#back-top').fadeOut();

                    }
                });

                // scroll body to 0px on click
                $('#back-top1').click(function () {
                    $('body,html').animate({
                        scrollTop: 0
                    }, 800);
                    return false;
                });
                $('#back-news').click(function () {
                });
                $('#chat').click(function () {
                });

            });

        });
    </script>
	<script language="javascript">
	
	</script>
    <style>/*
Back to top button
*/
    #back-top  {
        position: fixed;
        bottom: 30px;
        margin-left: -150px;
    }
    #fh5co-navbar span{color: #ffffff}
    #back-top  a {
        width: 50px;
        display: block;
        text-align: center;
        font: 11px/100% Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        color: #bbb;
        /* background color transition */
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;
    }
    #fh5co-header .navbar-brand:hover {
        color: #222222 !important; }
    #back-top  a:hover {
        color: #000;
    }
    /* arrow icon (span tag) */
    #back-top span {
        width: 50px;
        height: 50px;
        display: block;
        margin-bottom: 2px;
        background: #ddd url(images/up-arrow.png) no-repeat center center;
        /* rounded corners */
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        /* background color transition */
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;
    }
    #back-news span
    {
        width: 50px;
        height: 50px;
        display: block;
        margin-bottom: 2px;
        background: #ddd url(images/back-news.png) no-repeat center center;
        /* rounded corners */
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        /* background color transition */
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;
    }
    #chat span
    {
        width: 50px;
        height: 50px;
        display: block;
        margin-bottom: 2px;
        background: #ddd url(images/chat.png) no-repeat center center;
        /* rounded corners */
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        /* background color transition */
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;
    }
    #back-top  a:hover span {
        background-color: #777;
    }</style>

</head>
<body class="sticky-header left-side-collapsed">
<!--<header id="fh5co-header" role="banner">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                &lt;!&ndash; Mobile Toggle Menu Button &ndash;&gt;
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                <a class="navbar-brand" href="index.html">Gayest</a>
            </div>
            <div id="fh5co-navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="index.html"><span>首页 <span class="border"></span></span></a></li>
                    <li><a href="right-sidebar.html"><span>交友<span class="border"></span></span></a></li>
                    <li><a href="news.html"><span>新闻<span class="border"></span></span></a></li>
                    <li><a href="elements.html"><span>爬梯 <span class="border"></span></span></a></li>
                    <li class="call-to-action" id="oldlog"><a class="turnred" href="" data-target="#myModal" data-toggle="modal"><span id="spanlog">登录</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>-->
<div>
    <header id="fh5co-header" role="banner" style="position:fixed;">
        <nav class="navbar navbar-default" role="navigation" style="background-color: #000000">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!-- Mobile Toggle Menu Button -->
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                    <a class="navbar-brand" href="index.html" style="color: #ffffff">Gayest</a>
                </div>
                <div id="fh5co-navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="index.html"><span>首页 <span class="border"></span></span></a></li>
                        <li><a href="login.html"><span>交友<span class="border"></span></span></a></li>
                        <li class="active"><a href="news.html"><span>新闻<span class="border"></span></span></a></li>
                        <li><a href=""><span>爬梯 <span class="border"></span></span></a></li>
                        <li class="call-to-action" id="oldlog"><a class="turnred" href="" data-target="#myModal" data-toggle="modal"><span id="spanlog">登录</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>
<!-- END .header -->
<section>
    <!-- left side start-->
    <!-- left side end-->
    <!-- main content start-->
    <div class="main-content">
        <!-- header-starts -->
        <div id="page-wrapper" style="margin-top: 20px">
            <div class="top-grids">
                <div class="top-grids-info">
                    <!-- top-grid-right -->
                    <div class="col-md-3 top-grid-right basket-top-grid-right">
                        <!-- most-view-grids -->
                        <!-- //most-view-grids -->
                        <!-- latest -->
                        <div class="today-match latest basket-latest">
                            <div class="today-match-heading latest-heading">
                                <h3>热门头条</h3>
                            </div>
                            <div class="match-grid latest-grid">
                                <div class="latest-grid-info">
                                    <a href="single.html">Suspendisse ac ligula tempus, pellentesque ante quis</a>
                                    <p>Mar 29, 2016 1:18 AM ET</p>
                                </div>
                                <div class="latest-grid-info">
                                    <a href="single.html">Ut sed leo a diam dignissim euismod. Etiam vestibulum</a>
                                    <p>Mar 28, 2016 9:23 PM ET</p>
                                </div>
                                <div class="latest-grid-info">
                                    <a href="single.html">Suspendisse ac ligula tempus, pellentesque ante quis</a>
                                    <p>Mar 28, 2016 8:19 PM ET</p>
                                </div>
                                <div class="latest-grid-info">
                                    <a href="single.html">Suspendisse ac ligula tempus, pellentesque ante quis</a>
                                    <p>Mar 28, 2016 6:47 PM ET</p>
                                </div>
                                <div class="latest-grid-info">
                                    <a href="single.html">Suspendisse ac ligula tempus, pellentesque ante quis</a>
                                    <p>Mar 28, 2016 3:44 PM ET</p>
                                </div>
                                <div class="latest-grid-info">
                                    <a href="single.html">Vestibulum gravida pellentesque lacus ut maximus</a>
                                    <p>Mar 28, 2016 1:34 PM ET</p>
                                </div>
                                <div class="latest-grid-info">
                                    <a href="single.html">Aliquam feugiat rhoncus ex, quis convallis dui dapibus eget</a>
                                    <p>Mar 28, 2016 12:49 PM ET</p>
                                </div>
                                <div class="latest-grid-info">
                                    <a href="single.html">Duis posuere risus vel varius ultricies</a>
                                    <p>Mar 28, 2016 12:45 PM ET</p>
                                </div>
                                <div class="latest-grid-info">
                                    <a href="single.html">Donec pretium dictum fermentum</a>
                                    <p>Mar 28, 2016 11:59 AM ET</p>
                                </div>
                                <div class="latest-grid-info">
                                    <a href="single.html">Phasellus nunc dolor, laoreet eu tristique sit amet, bibendum ut orci</a>
                                    <p>Mar 28, 2016 11:58 AM ET</p>
                                </div>
                                <div class="latest-grid-info">
                                    <a href="single.html">Nullam pharetra nulla eget nulla tincidunt aliquet</a>
                                    <p>Mar 28, 2016 11:57 AM ET</p>
                                </div>
                                <div class="latest-grid-info">
                                    <a href="single.html">Vestibulum gravida pellentesque lacus ut maximus</a>
                                    <p>Mar 28, 2016 1:34 PM ET</p>
                                </div>
                                <div class="latest-grid-info">
                                    <a href="single.html">Aliquam feugiat rhoncus ex, quis convallis dui dapibus eget</a>
                                    <p>Mar 28, 2016 12:49 PM ET</p>
                                </div>
                                <div class="latest-grid-info">
                                    <a href="single.html">Duis posuere risus vel varius ultricies</a>
                                    <p>Mar 28, 2016 12:45 PM ET</p>
                                </div>
                                <div class="latest-grid-info">
                                    <a href="single.html">Donec pretium dictum fermentum</a>
                                    <p>Mar 28, 2016 11:59 AM ET</p>
                                </div>
                                <div class="latest-grid-info">
                                    <a href="single.html">Phasellus nunc dolor, laoreet eu tristique sit amet, bibendum ut orci</a>
                                    <p>Mar 28, 2016 11:58 AM ET</p>
                                </div>
                                <div class="latest-grid-info">
                                    <a href="single.html">Nullam pharetra nulla eget nulla tincidunt aliquet</a>
                                    <p>Mar 28, 2016 11:57 AM ET</p>
                                </div>
                                <div class="latest-grid-info">
                                    <a href="single.html">Aliquam feugiat rhoncus ex, quis convallis dui dapibus eget</a>
                                    <p>Mar 28, 2016 12:49 PM ET</p>
                                </div>
                                <div class="latest-grid-info">
                                    <a href="single.html">Duis posuere risus vel varius ultricies</a>
                                    <p>Mar 28, 2016 12:45 PM ET</p>
                                </div>
                                <div class="latest-grid-info">
                                    <a href="single.html">Donec pretium dictum fermentum</a>
                                    <p>Mar 28, 2016 11:59 AM ET</p>
                                </div>
                            </div>
                        </div>
                        <!-- //latest -->
                        <div class="top-grid-left-right-grid basket-left-right-grid">
                            <div class="top-grid-left-right-top">
                                <a href="single.html">Maecenas ut molestie neque, eget faucibus turpis</a>
                                <p>Nunc accumsan neque id massa molestie, ac semper quam maximus.Maecenas suscipit, ipsum vel condimentum</p>
                            </div>
                            <div class="top-grid-left-right-img">
                                <a href="single.html"><img src="../../static/images/n5.jpg" alt="" /></a>
                            </div>
                            <div class="top-grid-left-right-info">
                                <a class="text" href="single.html">Lorem ipsum dolor sit amet</a>
                                <p>Nam id sollicitudin felis. Nulla non bibendum arcu.Suspendisse venenatis venenatis mi</p>
                            </div>
                        </div>


                        <div class="clearfix"> </div>
                    </div>
                    <!-- //top-grid-right -->
                    <!-- top-grid-left -->
                    <div class="col-md-9 top-grid-left basket-top-grid-left">
                        <!-- top-big-grids -->
                        <div class="top-big-grids">
                            <div class="col-md-8 top-grid-left-left s-top-grid-left-left">
                                <div class="top-grid-left-left-grids">
                                    <div class="s-top-grid-left-img">
                                        <div data-video="Bzt6h5uFWOU" id="video">
                                            <img src="{{newsimage}}" alt="Use your own screenshot." id="news-image">
                                        </div>
                                        <div  class="single-img-grid">
                                            <div class="s-author">
                                                <p>Posted By <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Admin</a> &nbsp;&nbsp; <i class="fa fa-calendar" aria-hidden="true"></i> June 2, 2016 &nbsp;&nbsp; <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> Comments ({{num}})</a></p>
                                            </div>
                                            <div class="s-para">
                                                <p>{{file}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- three-grids -->
                                <!--<div class="three-grids">
                                    <div class="three-grid">
                                        <div class="three-grid-info">
                                            <div class="three-grid-img">
                                                <a href="single.html"><img src="images/n5.jpg" alt="" /></a>
                                            </div>
                                            <div class="three-grid-text">
                                                <div class="three-grid-text-heading">
                                                    <a class="text" href="single.html">Fusce ornare congue ligula vel placerat</a>
                                                </div>
                                                <div class="t-grid author-grid">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-clock-o"></i> 1h</a></li>
                                                        <li><a href="#"><i class="fa fa-user"></i> Vestibulum</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="three-grid">
                                        <div class="three-grid-info">
                                            <div class="three-grid-img">
                                                <a href="single.html"><img src="images/n5.jpg" alt="" /></a>
                                            </div>
                                            <div class="three-grid-text">
                                                <div class="three-grid-text-heading">
                                                    <a class="text" href="single.html">Fusce ornare congue ligula vel placerat</a>
                                                </div>
                                                <div class="t-grid author-grid">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-clock-o"></i> 2h</a></li>
                                                        <li><a href="#"><i class="fa fa-user"></i> Cras pretium </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="three-grid">
                                        <div class="three-grid-info">
                                            <div class="three-grid-img">
                                                <a href="single.html"><img src="images/n5.jpg" alt="" /></a>
                                            </div>
                                            <div class="three-grid-text">
                                                <div class="three-grid-text-heading">
                                                    <a class="text" href="single.html">Fusce ornare congue ligula vel placerat</a>
                                                </div>
                                                <div class="t-grid author-grid">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-clock-o"></i> 4h</a></li>
                                                        <li><a href="#"><i class="fa fa-user"></i> Phasellus</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>-->
                                <!-- //three-grids -->
                                <div class="comments-grid">
                                    <div class="comments-heading">
                                        <h3>Comments</h3>
                                    </div>
                                    <div class="response">
									<!--
                                        <div class="media response-info">
                                            <div class="media-left response-text-left">
                                                <a href="#">
                                                    <img class="media-object" src="../../static/images/p1.jpg" alt="">
                                                </a>
                                                <h5><a href="#">Admin</a></h5>
                                            </div>
                                            <div class="media-body response-text-right">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                <ul>
                                                    <li>2015.01.01</li>
                                                    <li><a href="single.html">Reply</a></li>
                                                </ul>
                                                <div class="media response-info">
                                                    <div class="media-left response-text-left">
                                                        <a href="#">
                                                            <img class="media-object" src="../../static/images/p2.jpg" alt="">
                                                        </a>
                                                        <h5><a href="#">Admin</a></h5>
                                                    </div>
                                                    <div class="media-body response-text-right">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                        <ul>
                                                            <li>2015.02.11</li>
                                                            <li><a href="single.html">Reply</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="clearfix"> </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                        <div class="media response-info">
                                            <div class="media-left response-text-left">
                                                <a href="#">
                                                    <img class="media-object" src="../../static/images/p3.jpg" alt="">
                                                </a>
                                                <h5><a href="#">Admin</a></h5>
                                            </div>
                                            <div class="media-body response-text-right">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                <ul>
                                                    <li>2015.03.05</li>
                                                    <li><a href="single.html">Reply</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
										-->
										{%for item in comment%}
										
										  <div class="media response-info">
                                            <div class="media-left response-text-left">
                                                <a href="#">
                                                    <img class="media-object" src="../../static/images/p3.jpg" alt="">
                                                </a>
				
                                                <h5><a href="#">{{item.2}}</a></h5>
                                            </div>
                                            <div class="media-body response-text-right">
                                                <p>{{item.3}}</p>
                                                <ul>
                                                    <li>{{item.4}}</li>
                                                    <li><a href="single.html">Reply</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
										
										{% endfor %}
                                    </div>
                                </div>
                                <div class="opinion">
                                    <h3>Leave Your Comment </h3>
                                    <form id="comment-form" action="comment-action" method="post">
                                        <input  type="text" placeholder="Name" id="name" name="name" required="">
                                        <textarea  placeholder="Message" required="" name="comment" id="comment"></textarea>
										<input type="hidden" id="newsid" name="newsid">
                                        <input  type="submit" value="SEND">
                                    </form>
                                </div>
                            </div>
                            <!-- top-grid-left-right -->
                            <div class="col-md-4 top-grid-left-right">
                                <div class="top-news features">
                                    <div class="top-news-heading">
                                        <h3>娱乐时尚</h3>
                                    </div>
                                    <div class="top-news-grids">
                                        <div class="top-news-grid">
                                            <div class="top-news-grid-heading">
                                                <a href="single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum ac nulla</a>
                                            </div>
                                            <div class="t-grid basket-t-head">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-clock-o"></i> 1h</a></li>
                                                    <li><a href="#"><i class="fa fa-user"></i> Vivamus nibh</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="top-news-grid">
                                            <div class="top-news-grid-heading">
                                                <a href="single.html">Duis orci enim, rutrum vel sodales ut, tincidunt nec turpis.</a>
                                            </div>
                                            <div class="t-grid basket-t-head">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-clock-o"></i> 3h</a></li>
                                                    <li><a href="#"><i class="fa fa-user"></i> Cras pretium</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="top-news-grid">
                                            <div class="top-news-grid-heading">
                                                <a href="single.html">Sed leo leo, porta vel commodo in, vulputate eu est. In rhoncus tempor dictum. </a>
                                            </div>
                                            <div class="t-grid basket-t-head">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-clock-o"></i> 4h</a></li>
                                                    <li><a href="#"><i class="fa fa-user"></i> Aenean rutrum</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="top-grid-left-right-grid">
                                    <div class="top-grid-left-right-img">
                                        <a href="single.html"><img src="../../static/images/n4.jpg" alt="" /></a>
                                    </div>
                                    <div class="top-grid-left-right-info">
                                        <a class="text" href="single.html">Phasellus ligula lectus</a>
                                        <p>Nam id sollicitudin felis. Nulla non bibendum arcu.Suspendisse venenatis venenatis mi, et cursus risus vehicula non.</p>
                                        <div class="t-grid right-info-t-grid basket-t-head">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-clock-o"></i> 4h</a></li>
                                                <li><a href="#"><i class="fa fa-user"></i> Quisque massa</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="top-grid-left-right-grid">
                                    <div class="top-grid-left-right-top">
                                        <a href="single.html">Maecenas ut molestie neque, eget faucibus turpis</a>
                                        <p>Nunc accumsan neque id massa molestie, ac semper quam maximus.Maecenas suscipit, ipsum vel condimentum</p>
                                    </div>
                                    <div class="top-grid-left-right-img">
                                        <a href="single.html"><img src="../../static/images/n4.jpg" alt="" /></a>
                                    </div>
                                    <div class="top-grid-left-right-info">
                                        <a class="text" href="single.html">Lorem ipsum dolor sit amet</a>
                                        <p>Nam id sollicitudin felis. Nulla non bibendum arcu.Suspendisse venenatis venenatis mi, et cursus risus vehicula non.</p>
                                        <div class="t-grid right-info-t-grid basket-t-head">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-clock-o"></i> 4h</a></li>
                                                <li><a href="#"><i class="fa fa-user"></i> Ornare Congue</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="top-grid-left-right-grid">
                                    <div class="top-grid-left-right-top">
                                        <a href="single.html">Maecenas ut molestie neque, eget faucibus turpis</a>
                                        <p>Nunc accumsan neque id massa molestie, ac semper quam maximus.Maecenas suscipit, ipsum vel condimentum</p>
                                    </div>
                                    <div class="top-grid-left-right-img">
                                        <a href="single.html"><img src="../../static/images/n4.jpg" alt="" /></a>
                                    </div>
                                    <div class="top-grid-left-right-info">
                                        <a class="text" href="single.html">Donec sodales consectetur ex, in euismod odio pharetra eget</a>
                                        <p>Nam id sollicitudin felis. Nulla non bibendum arcu.Suspendisse venenatis venenatis mi, et cursus risus vehicula non.</p>
                                        <div class="t-grid right-info-t-grid basket-t-head">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-clock-o"></i> 4h</a></li>
                                                <li><a href="#"><i class="fa fa-user"></i> Sed leo leo</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="top-grid-left-right-grid">
                                    <div class="top-grid-left-right-top">
                                        <a href="single.html">Maecenas ut molestie neque, eget faucibus turpis</a>
                                        <p>Nunc accumsan neque id massa molestie, ac semper quam maximus.Maecenas suscipit, ipsum vel condimentum</p>
                                    </div>
                                    <div class="top-grid-left-right-img">
                                        <a href="single.html"><img src="../../static/images/n4.jpg" alt="" /></a>
                                    </div>
                                    <div class="top-grid-left-right-info">
                                        <a class="text" href="single.html">Donec sodales consectetur ex, in euismod odio pharetra eget</a>
                                        <p>Nam id sollicitudin felis. Nulla non bibendum arcu.Suspendisse venenatis venenatis mi, et cursus risus vehicula non.</p>
                                        <div class="t-grid right-info-t-grid basket-t-head">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-clock-o"></i> 7h</a></li>
                                                <li><a href="#"><i class="fa fa-user"></i> Donec sodales</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- top-grid-left-right -->
                            <div class="clearfix"> </div>
                        </div>
                        <!-- //top-big-grids -->
                    </div>
                    <!-- //top-grid-left -->
                    <div class="clearfix"> </div>
                </div>
                <!-- more-sports -->
                <!--   <div class="more-sports">
                       <div class="more-sports-heading">
                       <h3>More Information</h3>
                   </div>
                       <div class="more-sports-grids">
                           <div class="col-md-3 more-sports-grid">
                               <div class="more-grids">
                                   <div class="col-md-6 more-grid-left">
                                       <a href="index.html"><img src="images/n3.jpg" alt="" /></a>
                                   </div>
                                   <div class="col-md-6 more-grid-right">
                                       <div class="more-grid-right-top">
                                           <a href="index.html">Lorem ipsum dolor sit amet</a>
                                       </div>
                                       <div class="more-grid-right-bottom">
                                           <a href="index.html">Football</a>
                                       </div>
                                   </div>
                                   <div class="clearfix"> </div>
                               </div>
                           </div>
                           <div class="col-md-3 more-sports-grid">
                               <div class="more-grids">
                                   <div class="col-md-6 more-grid-left">
                                       <a href="baseball.html"><img src="images/n3.jpg" alt="" /></a>
                                   </div>
                                   <div class="col-md-6 more-grid-right">
                                       <div class="more-grid-right-top">
                                           <a href="baseball.html">Quisque tristique dignissim</a>
                                       </div>
                                       <div class="more-grid-right-bottom">
                                           <a href="baseball.html">Baseball</a>
                                       </div>
                                   </div>
                                   <div class="clearfix"> </div>
                               </div>
                           </div>
                           <div class="col-md-3 more-sports-grid">
                               <div class="more-grids">
                                   <div class="col-md-6 more-grid-left">
                                       <a href="basketball.html"><img src="images/n3.jpg" alt="" /></a>
                                   </div>
                                   <div class="col-md-6 more-grid-right">
                                       <div class="more-grid-right-top">
                                           <a href="basketball.html">Morbi tincidunt urna condimentum</a>
                                       </div>
                                       <div class="more-grid-right-bottom">
                                           <a href="basketball.html">Basketball</a>
                                       </div>
                                   </div>
                                   <div class="clearfix"> </div>
                               </div>
                           </div>
                           <div class="col-md-3 more-sports-grid">
                               <div class="more-grids">
                                   <div class="col-md-6 more-grid-left">
                                       <a href="horse_Racing.html"><img src="images/n3.jpg" alt="" /></a>
                                   </div>
                                   <div class="col-md-6 more-grid-right">
                                       <div class="more-grid-right-top">
                                           <a href="horse_Racing.html">Suspendisse viverra vestibulum</a>
                                       </div>
                                       <div class="more-grid-right-bottom">
                                           <a href="horse_Racing.html">Horse Racing</a>
                                       </div>
                                   </div>
                                   <div class="clearfix"> </div>
                               </div>
                           </div>
                           <div class="clearfix"> </div>
                       </div>
                       <div class="more-sports-grids more-sports-grids-bottom">
                           <div class="col-md-3 more-sports-grid">
                               <div class="more-grids">
                                   <div class="col-md-6 more-grid-left">
                                       <a href="golf.html"><img src="images/n3.jpg" alt="" /></a>
                                   </div>
                                   <div class="col-md-6 more-grid-right">
                                       <div class="more-grid-right-top">
                                           <a href="golf.html">Nullam nec eros ac purus luctus</a>
                                       </div>
                                       <div class="more-grid-right-bottom">
                                           <a href="golf.html">Golf</a>
                                       </div>
                                   </div>
                                   <div class="clearfix"> </div>
                               </div>
                           </div>
                           <div class="col-md-3 more-sports-grid">
                               <div class="more-grids">
                                   <div class="col-md-6 more-grid-left">
                                       <a href="tennis.html"><img src="images/n3.jpg" alt="" /></a>
                                   </div>
                                   <div class="col-md-6 more-grid-right">
                                       <div class="more-grid-right-top">
                                           <a href="tennis.html">Vivamus quis magna ornare</a>
                                       </div>
                                       <div class="more-grid-right-bottom">
                                           <a href="tennis.html">Tennis</a>
                                       </div>
                                   </div>
                                   <div class="clearfix"> </div>
                               </div>
                           </div>
                           <div class="col-md-3 more-sports-grid">
                               <div class="more-grids">
                                   <div class="col-md-6 more-grid-left">
                                       <a href="#"><img src="images/n3.jpg" alt="" /></a>
                                   </div>
                                   <div class="col-md-6 more-grid-right">
                                       <div class="more-grid-right-top">
                                           <a href="#">Lorem ipsum dolor sit amet</a>
                                       </div>
                                       <div class="more-grid-right-bottom">
                                           <a href="#">Rugby</a>
                                       </div>
                                   </div>
                                   <div class="clearfix"> </div>
                               </div>
                           </div>
                           <div class="col-md-3 more-sports-grid">
                               <div class="more-grids">
                                   <div class="col-md-6 more-grid-left">
                                       <a href="#"><img src="images/n3.jpg" alt="" /></a>
                                   </div>
                                   <div class="col-md-6 more-grid-right">
                                       <div class="more-grid-right-top">
                                           <a href="#">Cras porta, orci vitae pellentesque</a>
                                       </div>
                                       <div class="more-grid-right-bottom">
                                           <a href="#">Cricket</a>
                                       </div>
                                   </div>
                                   <div class="clearfix"> </div>
                               </div>
                           </div>
                           <div class="clearfix"> </div>
                       </div>
                   </div>-->
                <!-- //more-sports -->
            </div>
        </div>
        <!-- Modal -->
        <!-- //	Modal -->
        <!--footer section start-->

        <footer>
            <div class="footer-left">
                <ul>
                    <li><a href="#">Contact</a></li>
                    <!--<li><a href="#"  data-toggle="modal" data-target="#myModal">Feedback</a></li>-->
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & conditions</a></li>
                </ul>
            </div>
            <div>
                <p style="text-align: center;padding-top: 40px">Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/"></a></p>
            </div>
            <div class="social">
                <ul>
                    <!-- <li><a href="#"><i class="fa fa"></i></a></li>
                     <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                     <li><a href="#"><i class="fa fa-rss"></i></a></li>
                     <li><a href="#"><i class="fa fa-vk"></i></a></li>-->
                </ul>
            </div>
            <!--   <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel" aria-hidden="true">
                   <div class="modal-dialog">
                       <div class="modal-content">
                           &lt;!&ndash; <div class="modal-header">
                                </div>&ndash;&gt;
                           <div class="modal-body">
                               <div class="login-top">
                                   <h1>登  录</h1>
                                   <form>
                                       <input type="text" value="User Id" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User Id';}">
                                       <input type="password" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}">
                                   </form>
                                   <div class="forgot">
                                       <a href="#">忘记密码？</a>
                                       <input type="submit" value="登录" data-dismiss="modal" id="login">
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="login-bottom">
                           <h3>新用户在这里&nbsp;<a href="#">注册</a>&nbsp</h3>
                       </div>&lt;!&ndash; /.modal-content &ndash;&gt;
                   </div>
               </div>-->
        </footer>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- <div class="modal-header">
                         </div>-->
                    <div class="modal-body">
                        <div class="login-top">
                            <h1>登  录</h1>
                            <form>
                                <input type="text" value="User Id" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User Id';}">
                                <input type="password" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}">
                            </form>
                            <div class="forgot">
                                <a href="#">忘记密码？</a>
                                <input type="submit" value="登录" data-dismiss="modal" id="login">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="login-bottom">
                    <h3>新用户在这里&nbsp;<a href="#">注册</a>&nbsp</h3>
                </div><!-- /.modal-content -->
            </div>
        </div>
        <!-- jQuery -->
        <script src="js/jquery.min.js"></script>
        <!-- jQuery Easing -->
        <script src="js/jquery.easing.1.3.js"></script>
        <!-- Bootstrap -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Owl carousel -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- Waypoints -->
        <script src="js/jquery.waypoints.min.js"></script>
        <!-- Magnific Popup -->
        <script src="js/jquery.magnific-popup.min.js"></script>
        <!-- Main JS -->
        <script src="js/main.js"></script>
        <!--footer section end-->
    </div>


    <!-- main content end-->
</section>
</body>
</html>
